<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        <meta charset="UTF-8">
        <title>
            {% block title %}
            Py Veterans 2 
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    </head>
    <body>
        <div class="page">
                <ul class="menu">
                    {% block menu %}
                        <li> <a href="{% url 'posts_list_url' %}">Post list</a></li>
                        <li> <a href="{% url 'tags_list_url' %}">Tags list</a></li>
                    {% if request.user.is_authenticated %}
                        <li style="float: right;"><a href="#">{{ user.username }}</a>|<a href="{% url 'logout' %}">Logout</a> </li>
                    {% else %}
                        <li style="float: right;"><a href="{% url 'register' %}">Register</a>|<a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    {% endblock %}
                </ul>

            {% block body %}
                Django blog start page
            {% endblock %}
        </div>

    </body>
</html>