{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ block.super }} | Create Post
{% endblock %}

{% block menu %}
    <li><a href="{% url 'posts_list_url' %}">Post list</a></li>

{% endblock %}

{% block body %}
    <form action="{% url 'post_delete_url' slug=post.slug %}", method=post>
        {% csrf_token %}
        
        
        <h3> A you sure you want to delete post  <b>{{ post.title}}</b> </h3>
        <a href="{{ post.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete</button>
        <!--
            {{post.as_p}}
        -->

    </form>    
            
{% endblock %}